/*Proposed Typographic Conventions for W3C TR docs*/

/* For usage, see http://www.w3.org/StyleSheets/spec-conventions.html */

.element, .attr, .prop, .attr-value, .prop-value {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.1em;
}

.element {
  color: brown;
}

.attr {
  color: darkgreen;
}

.prop {
  color: navy;
}

code.attr-value {
  background-color: lightgreen;
  color: midnightblue;
}

code.prop-value {
  background-color: powderblue;
  color: midnightblue;
}

.attribute-value {
  background-color: lightgreen;
  color: midnightblue;
}

.property-value {
  background-color: powderblue;
  color: midnightblue;
}

var {
  font-family: monospace;
}

dfn {
  font-style: italic;
}

.term {
  font-style: italic;
}

.term-ref {
  font-style: normal;
}

a.term-ref {
  color: black;
}

.issue, .atrisk, .proposal, .warning, .idl {
  font-style: normal;
}

.issue, .atrisk, .proposal, .idl {
  border-style: solid;
  border-width: 1px;
  padding: 0.1em 0.2em 0em;
}

div.note, p.note, 
div.issue, p.issue, 
.idl {
  padding: .5em;
  margin: 1.4em 1em;
  border-style: none;
  border-left: 0.3em solid;
}

div.note, p.note {
  border-left: thick double;
}

.note {
  color: green;
}

pre {
  font-family: monospace;
  font-style: normal;
}

.idl {
  font-family: monospace;
  color: black;
  background-color: aliceblue;
  border-color: lightsteelblue;
}


/* Warnings */

div.warning, p.warning {
  padding: 1em;
  margin: 1.4em 1em;
  border-style: none;
  border-left: 0.3em solid;
}

.warning {
  color: darkred;
  background-color: mistyrose;
}

.warning > strong:before, .warning > p > strong:before {
  /*
  content: "\025BA";
  content: "\02623";
  content: "\026A1";
  */
  content: "\026A0";
}


/* Issues */

.issue {
  background-color: white;
  color: crimson;
  border: thin solid crimson;
}

.issue > strong:before, .issue > p > strong:before {
  /*
  content: "\025BA \000a0\000a0";
  content: "\02623 \000a0\000a0";
  content: "\026A1 \000a0\000a0";
  content: "\025CA \000a0\000a0";
  */
  content: "\026A1 \000a0\000a0";
}

.issue a {
  color: gold;
}


/* Proposal */

.proposal {
   border: green dotted 2px;
}

i.proposal {
   border-width: 1px;
}

.atrisk {
  background-color: lavenderblush;
  border: red dashed 1.5px;
}

.change {
  background-color: greenyellow;
}


/* Example */

.example {
/*  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
*//*  background-color: lightyellow;*/
  border-bottom: 1px solid #FF4500;
  border-top: 1px solid #FF4500;
  background-color: white;
}

div.example {
  margin-top: 1em;
  padding: 1em;
}

p.example > strong, div.example > p > strong {
/*  background-color: orange;*/
/*  color: lightyellow;*/
  background-color: #FF4500;
  color: white;
  padding: 0em 0.2em 0em 0.4em;
  letter-spacing: 0.05em;
}

div.example > p > strong {
  display: block;
  width: 5em;
  margin: -2em 0em 1em -1em;
  padding: 0.2em 0.2em 0.1em 0.4em;
}
