span.must, span.required
{
	background-color: #d6ffb9;
	box-shadow: 0 0 6px 6px lime;
}

span.mustnot, span.shallnot, span.shouldnot
{
	background-color: #ffe3e3;
	box-shadow: 0 0 6px 6px red;
}

span.shall, span.should, span.recommended {
	background-color: #d6eeff;
	box-shadow: 0 0 6px 6px #0985d8;
}

span.may, span.optional
{
	background-color: #ffffd6;
	box-shadow: 0 0 6px 6px yellow;
}