body 
{
	background: white;
}

span.must
{
	display: block;
	background: lime;
}

span.may
{
	display: block;
	background: yellow;
}

span.mustnot
{
	display: block;
	background: #ff69b4;
}

.method-name 
{
	font-style: italic;
}

.infonormative
{
	color: gray;
	font-style: italic;
}

