/* Tweaks to override respec formatting */

/* Warnings */

section > .warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dd > .warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Notes */

.note-title {
	display: none;
}

section > .note {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dd > .note {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.note > p {
	margin: 0.5em 0;
	padding-left: 8px;
}

/* Examples */

div.example {
	margin-bottom: 1em;
}

div.example > p {
	margin: 0.5em 0 0 0;
}

div.example > p:first-child {
	margin: -0.5em 0 0 0;
}

div.example > ol,ul,pre {
	margin: 0;
}

.example-title {
	font-weight: bold;
	background-color: #FF4500;
	color: white;
	letter-spacing: 0.05em;
	display: block;
	width: 4.5em;
	margin: -1em 0em 1em -1em;
	padding: 0.2em 0.2em 0.1em 0.4em;
}
