/* Tweaks to override respec formatting */

/* Make h5 and h6 easier to see. */

section > h5 {
	font-style: normal;
	font-size: 1em;
	font-weight: bold;
	color: #005A9C;
	margin-bottom: 0.5em;
}

section > h6 {
	font-style: normal;
	font-size: 1em;
	font-weight: bold;
	color: #005A9C;
	padding-left: 16px;
	margin-bottom: 0.5em;
}

/* Warnings */

section > .warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dd > .warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Notes */

.note-title {
	display: none;
}

section > .note {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dd > .note {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.note > p {
	margin: 0.5em 0;
	padding-left: 8px;
}

/* Examples */

div.example {
	margin-bottom: 1em;
}

div.example > p {
	margin: 0.5em 0 0 0;
}

div.example > p:first-child {
	margin: -0.5em 0 0 0;
}

div.example > ol,ul,pre {
	margin: 0;
}

.example-title {
	font-weight: bold;
	background-color: #FF4500;
	color: white;
	letter-spacing: 0.05em;
	display: block;
	width: 4.5em;
	margin: -1em 0em 1em -1em;
	padding: 0.2em 0.2em 0.1em 0.4em;
}

/* Remove extra margin from around each param description */
.prmDesc > p {
	margin: 0 0;
}

/* "Introduced in DOM Level n" */

.intro-dom {
	font-size: 0.9em;
	font-style: italic;
}

/* Suppress auto-generated IDL sections in the Appendix.
   These tables simply restate the info in the IDL so they're not needed.
 */

#event-initializers > section > section > h5 {
	display: none;
}

#idl-interface-Event-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-CustomEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-UIEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-FocusEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-MouseEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-WheelEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-KeyboardEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-CompositionEvent-initializers > h4 + pre + section {
	display: none;
}

/* Formatting for the key value tables.
 */
/* The <div> that contains the key table. */
.key-table {
	padding: 0 15px 0 30px;	
}

.key-value-table {
	width: 100%;
}

/* The cell in a key table that contains the key name. */
.key-table-key {
	vertical-align: top;
}
