/* Tweaks to override respec formatting */

body {
  counter-reset: example;
}

/* Make h5 and h6 easier to see. */

section > h5 {
	font-style: normal;
	font-size: 1em;
	font-weight: bold;
	color: #005A9C;
	margin-bottom: 0.5em;
}

section > h6 {
	font-style: normal;
	font-size: 1em;
	font-weight: bold;
	color: #005A9C;
	padding-left: 16px;
	margin-bottom: 0.5em;
}

/* Warnings */

section > .warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dd > .warning {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* Notes */

.note-title {
	display: none;
}

section > .note {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

dd > .note {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.note > p {
	margin: 0.5em 0;
	padding-left: 8px;
}

.issue {
	background-color: #fff0f0;
}

/* Examples */

div.example {
	margin-bottom: 1em;
}

div.example > p {
	margin: 0.5em 0 0 0;
}

div.example > p:first-child {
	margin: -0.5em 0 0 0;
}

div.example > ol,ul,pre,table {
	margin: 0;
}

.example-title:before {
	content: "Example ";
}

.example-title {
	font-weight: bold;
	background-color: #FF4500;
	color: white;
	letter-spacing: 0.05em;
	display: block;
	width: 5.65em;
	margin: -1em 0em 1em -1em;
	padding: 0.2em 0.2em 0.1em 0.4em;
}

.example-title:after {
	counter-increment: example;
	content: counter(example);
}

/* Remove extra margin from around each param description */
.prmDesc > p {
	margin: 0 0;
}

/* "Introduced in DOM Level n" */

.intro-dom {
	font-size: 0.9em;
	font-style: italic;
}

/* Suppress auto-generated IDL sections in the Appendix.
   These tables simply restate the info in the IDL so they're not needed.
 */

#event-initializers > section > section > h5 {
	display: none;
}

#idl-interface-Event-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-CustomEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-UIEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-FocusEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-MouseEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-WheelEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-KeyboardEvent-initializers > h4 + pre + section {
	display: none;
}

#idl-interface-CompositionEvent-initializers > h4 + pre + section {
	display: none;
}

/* Formatting for the key value tables.
 */
/* The <div> that contains the key table. */
.key-table {
	padding: 0 15px 0 30px;	
}

.key-value-table {
	width: 100%;
}

/* The cell in a key table that contains the key name. */
.key-table-key {
	vertical-align: top;
}

/* Formatting for the event sequence tables.
 */
.event-sequence-table th {
	background:none repeat scroll 0 0 #E8EDFF;
	color:#003399;
	font-weight:normal;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.event-sequence-table td {
	background:none repeat scroll 0 0 #ffffff;
	color:#666699;
	padding: 0 0.5em 0 0.5em;
}

.event-sequence-table tr:hover td {
  background:none repeat scroll 0 0 #E8EDFF;
  color:#333399;
}

/* Formatting for the legacy key tables in the Appendix.
 */
.legacy-key-table th {
	background:none repeat scroll 0 0 #E8EDFF;
	color:#003399;
	font-weight:normal;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.legacy-key-table td {
	background:none repeat scroll 0 0 #ffffff;
	color:#666699;
	padding: 0 0.5em 0 0.5em;
}

.legacy-key-table tr:hover td {
  background:none repeat scroll 0 0 #E8EDFF;
  color:#333399;
}

.cell-center {
	text-align: center;
}

.cell-number {
	text-align: right;
	min-width: 3em;
}
