h4 {
  text-align: left;
  font-family: sans-serif;
  font-weight: normal;
  color: #005A9C; 
}
.idl-code { 
  font-family: monospace;
  border: 1px solid black;
  white-space: pre; 
  color: black;
  background-color: #dfdfdf; 
}
.idl-code a { 
  font-family: monospace;
  color: black;
  background-color: #dfdfdf; 
}
.java-code { 
  font-family: monospace;
  border: 1px solid black;
  white-space: pre; 
  color: black;
  background-color: #dfdfdf; 
}
.code-block { 
  font-family: monospace;
  border: 1px solid black;
  white-space: pre; 
  color: black;
  background-color: #dfdfdf; 
}


.ecma-block { 
  border: 1px solid black;
  padding: 0.5em;
  color: black;
  background-color: #dfdfdf; 
}


.interface-name {
  font-weight: bold
}

.attribute-name {  
  color: black;
  background-color: #FFFFD2;
}

.constant-name {
  color: black;
  background-color: #DDFFD2;
}

.method-name {  
  color: black;
  background-color: #D9E6F8;
}

.parameter-name {
  color: black;
  background-color: #FEE6F8; 
}

ul.toc, ol.toc {list-style: none}
div.toc ul ul, div.toc ol ol {margin-left: 0}
div.toc ul ul ul, div.toc ol ol ol {margin-left: 1em}
div.toc ul ul ul ul, div.toc ol ol ol ol {margin-left: 0}
li.tocline1 {font-weight: bold}
li.tocline2 {font-weight: normal}
li.tocline4 {font-style: italic}

code { font-family: monospace }

div.paramtable { margin-left: 1em }
div.returntable { margin-left: 1em }
div.exceptiontable { margin-left: 1em }

/* default alignment for tables */
table {
   margin-bottom: 1em;
}

td {
 vertical-align: middle;
}

p.first:first-letter {
  font-size: 200%;
}

/* style for event definition tables */

.event-definition th {
  text-align: left;
  font-weight: normal;
}

.event-definition table {
  border: 2px solid black;
}

.event-definition th {
  border-right: 1px dashed #ccc;
  white-space: nowrap;
  background-color: #D9E6F8;
  background-color: #F7F5D7;
}

.event-definition td,
.event-definition th {
  border-bottom: 1px dashed #ccc;
  padding-left: 8px;
  padding-right: 8px;
}

.event-definition tr:last-child td {
  border-bottom: none;
}

.event-definition td {
  width: 100%;
}

.event-definition table {
  width: 95%;
}

.event-definition dt a.noxref {
  font-family: monospace;
  color: black;
  font-weight: normal;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  background-color: #D9E6F8;
  background-color: #A5C9CC;
  background-color: #FFC500;
  background-color: #FFC500;
}

.event-definition a {
  text-decoration: none
}

/* @@@ */
.event-definition td {
  background-color: transparent
}

.event-definition td b {
  font-weight: normal
}

.event-definition dd {
  margin-top: 4px
}
