h4 {
  text-align: left;
  font-family: sans-serif;
  font-weight: normal;
  color: #005A9C; 
}

.attribute-name {  
  color: black;
  background-color: #FFFFD2;
}

.constant-name {
  color: black;
  background-color: #DDFFD2;
}

.method-name {  
  color: black;
  background-color: #D9E6F8;
}

.parameter-name {
  color: black;
  background-color: #FEE6F8; 
}

/* Some fun IDL styling */
.comment {
    color: green;
}

.idl a:first-of-type {
    font-weight: bolder;
    font-size: larger;
}

ul.toc, ol.toc {list-style: none}
div.toc ul ul, div.toc ol ol {margin-left: 0}
div.toc ul ul ul, div.toc ol ol ol {margin-left: 1em}
div.toc ul ul ul ul, div.toc ol ol ol ol {margin-left: 0}
li.tocline1 {font-weight: bold}
li.tocline2 {font-weight: normal}
li.tocline4 {font-style: italic}

code { font-family: monospace }

div.paramtable { margin-left: 1em }
div.returntable { margin-left: 1em }

/* default alignment for tables */
table {
   margin-bottom: 1em;
}

td {
 vertical-align: middle;
}

/* style for event definition tables */

.event-definition table {
  border: 2px solid black;
  width: 95%;
}

.event-definition td,
.event-definition th {
  border-bottom: 1px dashed #ccc;
  padding-left: 8px;
  padding-right: 8px;
}

.event-definition th {
  text-align: left;
  font-weight: normal;
  border-right: 1px dashed #ccc;
  white-space: nowrap;
  background-color: #D9E6F8;
  background-color: #F7F5D7;
  background-color: #D0DAFD;
}

.event-definition td {
  width: 100%;
}

.event-definition tr:last-child td {
  border-bottom: none;
}

.event-definition dfn a {
  font-family: monospace;
  color: black;
  font-weight: normal;
  font-style: normal;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  background-color: #FFC500;
}

.event-definition dd table {
  margin-bottom: -0.02em;
}

/* Added the idl class here to remove underlines in IDL blocks */
.event-definition a, .idl a {
  text-decoration: none
}

.event-definition td b {
  font-weight: normal
}

.event-definition dd {
  margin-top: 4px
}

/* style for context info event definition lists */

.event-definition td > ul > li {
  margin-left: -2.5em;
  list-style: none;
  border-bottom: 1px dashed #ccc;
}

.event-definition td > ul > li.last {
  border-bottom: none;
}

dt > p, dd > p {
  margin-top: 0.5em;
}

/* style for exception table */

.exceptiontable
{
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: none;
	border-left-style: hidden;
	border-collapse: collapse;
}
.exceptiontable td, .exceptiontable th
{
    padding:  0.2em;
	vertical-align: top;
    border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-right-width: medium;
	border-bottom-width: thin;
	border-left-width: medium;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}


/* style for heading links */
a[id]:hover:after { 
  content: "   #" attr(id) " ยง "; 
  font-size: 80%;
  color: #ccc;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit !important;
  font-weight: inherit !important;
  text-decoration: none !important;
  font-style: inherit !important;
}

.inline {
  display: inline;
  border-left: none;
  border-right: none;
  padding: 0em;
}

.value {
  color: #191970;
}

.typeCell {
  background-color: #cfcfcf;
}

h5 {
  font-weight: bold;
}

dl#glossary-list dt a
{
  font-weight: bold;
}

a.eventtype {
  text-decoration: none;
}

a.eventtype code {
  font-size: 1.13em;
}

.keyname {
  color: #191970;
  background-color: #b0e0e6;
}

.charval {
  color: #191970;
  background-color: #98fb98;
}

.charrep {
  color: #191970;
  background-color: #ffe4b5;
}

dl#key-id-set dt {
  display: inline;
}

a.def {
  color: inherit;
  text-decoration: inherit;
  border-bottom: 1.8px dashed blue;
}

/*style for table-event-summary and table-key-values */

.data-table {
  border-collapse:collapse;
  text-align:left;
}

.data-table th {
  background:none repeat scroll 0 0 #B9C9FE;
  border-bottom:1px solid #FFFFFF;
  border-top:4px solid #AABCFE;
  color:#003399;
  font-weight:normal;
  padding: 2px;
  padding-left: 0.5em;
}

.data-table td {
  background:none repeat scroll 0 0 #E8EDFF;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid transparent;
  color:#666699;
  padding: 2px;
  padding-left: 1em;
}

.data-table tr:hover td {
  background:none repeat scroll 0 0 #D0DAFD;
  color:#333399;
}

/*style for algorithm lists */
ol.algo { 
  counter-reset: section;
  list-style-type: none;
}

ol.algo li { 
  counter-increment: section;
  margin-top: 0.5em;  
}
ol.algo li:before { content: counters(section, ".") ". "; }
ol.algo li ol.algo li { margin-left: -1em; }
