h4 {
  text-align: left;
  font-family: sans-serif;
  font-weight: normal;
  color: #005A9C; 
}

/* IDL blocks */
.idl-code { 
  font-family: monospace;
  border: 1px solid black;
  white-space: pre; 
  color: black;
  background-color: #ffffe0; 
}

.idl-code a { 
  font-family: monospace;
  color: black;
  background-color: #ffffe0; 
}

.idl-code pre { 
  margin-top: -1em;
  margin-bottom: -2em;
}

.java-code { 
  font-family: monospace;
  border: 1px solid black;
  white-space: pre; 
  color: black;
  background-color: #dfdfdf; 
}
.code-block { 
  font-family: monospace;
  border: 1px solid black;
  white-space: pre; 
  color: black;
  background-color: #dfdfdf; 
}


.ecma-block { 
  border: 1px solid black;
  padding: 0.5em;
  color: black;
  background-color: #dfdfdf; 
}


.interface-name {
  font-weight: bold
}

.attribute-name {  
  color: black;
  background-color: #FFFFD2;
}

.constant-name {
  color: black;
  background-color: #DDFFD2;
}

.method-name {  
  color: black;
  background-color: #D9E6F8;
}

.parameter-name {
  color: black;
  background-color: #FEE6F8; 
}

ul.toc, ol.toc {list-style: none}
div.toc ul ul, div.toc ol ol {margin-left: 0}
div.toc ul ul ul, div.toc ol ol ol {margin-left: 1em}
div.toc ul ul ul ul, div.toc ol ol ol ol {margin-left: 0}
li.tocline1 {font-weight: bold}
li.tocline2 {font-weight: normal}
li.tocline4 {font-style: italic}

code { font-family: monospace }

div.paramtable { margin-left: 1em }
div.returntable { margin-left: 1em }
div.exceptiontable { margin-left: 1em }

/* default alignment for tables */
table {
   margin-bottom: 1em;
}

td {
 vertical-align: middle;
}

p.first:first-letter {
  font-size: 200%;
}

/* style for event definition tables */

.event-definition th {
  text-align: left;
  font-weight: normal;
}

.event-definition table {
  border: 2px solid black;
}

.event-definition th {
  border-right: 1px dashed #ccc;
  white-space: nowrap;
  background-color: #D9E6F8;
  background-color: #F7F5D7;
}

.event-definition td,
.event-definition th {
  border-bottom: 1px dashed #ccc;
  padding-left: 8px;
  padding-right: 8px;
}

.event-definition tr:last-child td {
  border-bottom: none;
}

.event-definition td {
  width: 100%;
}

.event-definition table {
  width: 95%;
}

.event-definition dfn a {
  font-family: monospace;
  color: black;
  font-weight: normal;
  font-style: normal;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
  background-color: #D9E6F8;
  background-color: #A5C9CC;
  background-color: #FFC500;
  background-color: #FFC500;
}

.event-definition dd table {
  margin-bottom: -0.5em;
}

.event-definition a {
  text-decoration: none
}

/* @@@ */
.event-definition td {
  background-color: transparent
}

.event-definition td b {
  font-weight: normal
}

.event-definition dd {
  margin-top: 4px
}


/* style for heading links */
a[id]:hover:after { 
  content: "   #" attr(id) " § "; 
  font-size: 80%;
  color: #ccc;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit !important;
  font-weight: inherit !important;
  text-decoration: none !important;
  font-style: inherit !important;
}




.inline {
  display: inline;
  border-left: none;
  border-right: none;
  padding: 0em;
}

.value {
  color: #191970;
}

.typeCell {
  background-color: #cfcfcf;
}

h5 {
  font-weight: bold;
}

dl#glossary-list dt a
{
  font-weight: bold;
}

.eventname {
  background-color: #cfcfcf;
}

a.eventtype {
  text-decoration: none;
}

a.eventtype code {
  font-size: 1.13em;
}

.charval {
  color: #191970;
  background-color: #ffe4b5;
}

.keyname {
  color: #191970;
  background-color: #b0e0e6;
}

.codepoint {
  color: #191970;
  background-color: #98fb98;
}

dl#key-id-set dt {
  display: inline;
}

a.def {
  color: inherit;
  text-decoration: inherit;
  border-bottom: 1.8px dashed blue;
  /*        
  padding-bottom: -2em;
  margin-bottom: -2em;
  */
}


/* style for heading links */
a[id]:hover:after { 
  content: "   #" attr(id) " § "; 
  font-size: 80%;
  color: #ccc;
  text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit !important;
  font-weight: inherit !important;
  text-decoration: none !important;
  font-style: inherit !important;
}


/*style for table-event-summary */
#table-event-summary  {
  border-collapse:collapse;
  text-align:left;
}

#table-event-summary th {
  background:none repeat scroll 0 0 #B9C9FE;
  border-bottom:1px solid #FFFFFF;
  border-top:4px solid #AABCFE;
  color:#003399;
  font-weight:normal;
  padding: 2px;
  padding-left: 0.5em;
}

#table-event-summary td {
  background:none repeat scroll 0 0 #E8EDFF;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid transparent;
  color:#666699;
  padding: 2px;
  padding-left: 1em;
}

#table-event-summary tr:hover td {
  background:none repeat scroll 0 0 #D0DAFD;
  color:#333399;
}



/*style for keyValues keyCode charCode table*/
table#tbl-keyValues-keyCode-charCode  { border: 1px solid black;  border-spacing: 0px; padding: 2px; font-size: smaller;}
#tbl-keyValues-keyCode-charCode td { border: 1px solid #d3d3d3 }
#tbl-keyValues-keyCode-charCode th { border: 1px solid black }

#tbl-keyValues-keyCode-charCode th { text-align: center; font-weight: bold }

#tbl-keyValues-keyCode-charCode th { vertical-align: middle; font-size: 0.85em; }
#tbl-keyValues-keyCode-charCode td { vertical-align: middle; text-align: center;  }

.smallRow1 th { 
  font-size: 0.75em;
  display:block; 
  width:1.5em; 
  height:1.5em; 
  height:auto;
}

.verticalCell1 { 
  display:block; 
  width:1.5em; 
  height:1.5em; 
  height:auto;
}

#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td
{
  border-left: 1px solid black;
}


#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td,
#tbl-keyValues-keyCode-charCode td:first-child + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td + td
{
  border-left: 1px solid gray;
}


