#options {
	display: none;
	margin: 20px;
}

#optionstoggle {
	font-size: 10pt;
}

.opttable {
	border: 1px solid black;
}

.optcell {
	vertical-align: top;
	padding: 0 10px;
}

.opttitle {
	font-weight: bold;
}

.empty {
	background-color: #ffffff;
}

.etype_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.legacy_header {
	background-color: #c0ffc0;
	font-weight: bold;
	border: 1px solid black;
}

.modifiers_header {
	background-color: #ffc0ff;
	font-weight: bold;
	border: 1px solid black;
}

.olddom3_header {
	background-color: #ffc0c0;
	font-weight: bold;
	border: 1px solid black;
}

.uievents_header {
	background-color: #c0ffff;
	font-weight: bold;
	border: 1px solid black;
}

.proposed_header {
	background-color: #ffffc0;
	font-weight: bold;
	border: 1px solid black;
}

.inputbox_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.keycell {
	padding: 0 5px 0 5px;
}

.modOff {
	color: #ffd0d0;
}

.modOn {
	color: green;
}

.undef {
	color: #a0a0a0;
}

.keyevent_hilight {
	border: 2px solid #404040;
	border-radius: 4px;
	padding: 1px 2px 0 2px;
	margin-left: 3px;
}

.keypress_hilight {
	background-color: #c0c0ff;
}

.keydown_hilight {
	background-color: #c0ffc0;
}

.keydown_arrow:after {
  content: " ⬇";
}

.keyup_hilight {
	background-color: #ffc0c0;
}

.keyup_arrow:after {
  content: " ⬆";
}

.showfieldoption {
	font-weight: normal;
	padding: 0 5px 0 5px;
	display: inline-block;
	min-width: 90px;
	text-align: center;
}

#output tr:hover, tr.highlight {
	background-color: #e0e0e0;
}

body {
	margin: 10px;
	padding: 0 20px;
}
