#options {
	display: none;
	margin: 20px;
}

#optionstoggle {
	font-size: 10pt;
}

.opttable {
	border: 1px solid black;
}

.optcell {
	vertical-align: top;
	padding: 0 10px;
}

.opttitle {
	font-weight: bold;
}

.empty {
	background-color: #ffffff;
}

.subheader {
	font-size: 10pt;
}

.etype_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.target_header {
	background-color: #ffffff;
	font-weight: bold;
	border: 1px solid black;
}

.handler_header {
	background-color: #c0c0ff;
	font-weight: bold;
	border: 1px solid black;
}

.uievents_header {
	background-color: #ffffc0;
	font-weight: bold;
	border: 1px solid black;
}

.plock_header {
	background-color: #e0a0e0;
	font-weight: bold;
	border: 1px solid black;
}

.cssom_header {
	background-color: #c0f0c0;
	font-weight: bold;
	border: 1px solid black;
}

.modifiers_header {
	background-color: #ffc0c0;
	font-weight: bold;
	border: 1px solid black;
}

.buttons_header {
	background-color: #e0e0e0;
	font-weight: bold;
	border: 1px solid black;
}

.keycell {
	padding: 0 5px 0 5px;
}

.modOff {
	color: #ffd0d0;
}

.modOn {
	color: green;
}

.undef {
	color: #a0a0a0;
}

input[type=checkbox]:disabled+label {
	color: #a0a0a0;
}

.mouseevent_hilight {
	border: 1px solid #404040;
	border-radius: 4px;
	padding: 0 3px 0 3px;
	margin-left: 3px;
}

.mousedown_hilight {
	background-color: #e0e0e0;
}

.mouseenter_hilight {
	background-color: #ccffcc;
}

.mouseleave_hilight {
	background-color: #ffcccc;
}

.mousemove_hilight {
	background-color: #ffffff;
}

.mouseout_hilight {
	background: repeating-linear-gradient(-45deg, #fcc, #fcc 8px, #fff 8px, #fff 16px);
}

.mouseover_hilight {
	background: repeating-linear-gradient(-45deg, #cfc, #cfc 8px, #fff 8px, #fff 16px);
}

.mouseup_hilight {
	background-color: #e0e0e0;
}

.showfieldoption {
	font-weight: normal;
	padding: 0 5px 0 5px;
	display: inline-block;
	min-width: 90px;
	text-align: center;
}

.hilite_div_a {
	background-color: #c0ffc0;
	padding: 0 10px;
}

.hilite_div_b {
	background-color: #ffc0ff;
	padding: 0 10px;
}

.hilite_div_c {
	background-color: #c0ffff;
	padding: 0 10px;
}

.hilite_handler_a {
	padding: 0 10px;
}

.hilite_handler_b {
	padding: 0 10px;
}

.hilite_handler_c {
	padding: 0 10px;
}

#div_a {
	background-color: #c0ffc0;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: 30px;
	padding: 10px 0 10px 10px;
	display: inline-block;
}

#div_b {
	background-color: #ffc0ff;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0 10px 10px;
	padding: 10px 0 10px 10px;
	display: inline-block;
}

#div_c {
	background-color: #c0ffff;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 10px 0 10px 10px;
	padding: 10px 0 10px 10px;
	display: inline-block;
	min-width: 200px;
	min-height: 30px;
}

#output tr:hover, tr.highlight {
	background-color: #e0e0e0;
}

.main_link {
	float: right;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 9pt;
	padding: 2px 4px;
	text-decoration: none;
	background-color: #e0e0ff;
}

body {
	margin: 10px;
	padding: 0 20px;
	background-color: #ffffff;
}

/* Fix for black background in Fullscreen (Chrome). */
html {
	background-color: #ffffff;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen, *:-ms-fullscreen {
	background-color: rgba(255,255,255,0);
	width: 100%;
	height: 100%;
}
